
[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
mysql_native_password=ON
join_buffer_size = 128M
sort_buffer_size = 2M
read_rnd_buffer_size = 2M
ssl_ca=/etc/certs/ca.pem
ssl_cert=/etc/certs/server-cert.pem
ssl_key=/etc/certs/server-key.pem
tls_version=TLSv1.2,TLSv1.3
ssl_cipher=ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-CCM
ssl_session_cache_mode=ON

host-cache-size=1024
skip-name-resolve
basedir=/var/lib/mysql
datadir=/var/lib/mysql/data
socket=/tmp/mysqld.sock
secure-file-priv=/var/lib/mysql-files
log-error=error.log
user=mysql
pid-file=/tmp/mysqld.pid
bind-address=0.0.0.0

[client]
socket=/tmp/mysqld.sock
