
# Blog https://zlcjfalsvk.github.io/else/haproxy2/ 
global
        log           /dev/log    local0
        log           /dev/log    local1 notice
        maxconn       1024
        user          haproxy
        group         haproxy
        daemon
        # stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
        # default는 위의 값인데 servie 시작을 하지 못하여 추가해줌
        stats         socket /home/pabii/haproxy/admin.sock mode 660 level admin expose-fd listeners
        stats         timeout 30s

        ssl-default-bind-ciphers    ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

        # ssl을 사용하기 위해선 설정을 해야한다. https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#tune.ssl.default-dh-param
        tune.ssl.default-dh-param 2048

defaults
        log           global≥÷÷÷
        mode          http
        option        httplog
        option        dontlognull
        option        httpclose
        timeout       connect 5000
        timeout       client  50000
        timeout       server  50000
        errorfile     400 /etc/haproxy/errors/400.http
        errorfile     403 /etc/haproxy/errors/403.http
        errorfile     408 /etc/haproxy/errors/408.http
        errorfile     500 /etc/haproxy/errors/500.http
        errorfile     502 /etc/haproxy/errors/502.http
        errorfile     503 /etc/haproxy/errors/503.http
        errorfile     504 /etc/haproxy/errors/504.http

# Http 접근을 막기 위해 Redirection을 시켜줄 수 있다.
frontend              httpNoRoot
    bind              *:8080
    mode              http
    backend           adminer
 

frontend              httpNoRoot1
    bind:             *:8000
    mode:             http


frontend              sslNoRoot
    bind              *:8484
    mode              http
    backend           theRing



listen DB
    bind *:3306
    mode tcp # http://cbonte.github.io/haproxy-dconv/2.0/configuration.html#4-mode
    option tcplog
    balance roundrobin

    server DB 10.10.10.3:3306 
    

backend theRing
    balance roundrobin # http://cbonte.github.io/haproxy-dconv/2.0/configuration.html#4-balance
    server cashLogin 10.10.10.3:3310

backend cash
    balance roundrobin
    mode http    
    server cash 10.10.10.3:3330

backend cashMiddle
    balance roundrobin
    mode http        
    server cashMiddle 10.10.10.3:3300

backend fun
    balance roundrobin
    mode http        
    server fun 10.10.10.3:6115          

listen stats # "stats"라는 이름으로 listen 지정
    bind :9000 # 접속 포트 지정
    stats enable
    stats realm Haproxy\ Statistics  # 브라우저 타이틀
    stats uri /haproxy_stats  # stat 를 제공할 URI
    stats auth Username:Password # 인증이 필요하면 추가한다


# Prometheus Grafana 연동하기
# https://github.com/prometheus/haproxy_exporter
# frontend stats
#     bind *:8404
#     http-request use-service prometheus-exporter if { path /metrics }
#     stats enable
#     stats uri /stats
#     stats refresh 10s






    # intermediate configuration
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets

    ssl-default-server-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305
    ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
    ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tls-tickets
